<!DOCTYPE html>
<html ng-app="myApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Austin Ward</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,800,500,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="css/set2.css" />
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css" type="text/css">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- Custom CSS -->
    <link href="css/custom.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/animate.min.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>
  <body id="page-top" ng-controller="controller">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand page-scroll" href="#page-top">Austin Ward</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a class="page-scroll" href="#portfolio">Portfolio</a>
            </li>
            <li>
              <a class="page-scroll" href="#about">About</a>
            </li>
            <li>
              <a class="page-scroll" href="#contact">Contact</a>
            </li>
            <li class="divider-vertical hidden-xs">
              <a href="downloads/AustinWardResume.pdf">Resume</a>
            </li>
            <li class="visible-xs">
              <a href="downloads/AustinWardResume.pdf">Resume</a>
            </li>
          </ul>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
    </nav>

    <header>
      <div class="header-content">
        <div class="header-content-inner">
          <h1 class=text-shadow>Let's Code</h1>
          <hr>
          <p style="color: white;" class=text-shadow>Hi there! I'm an award winning freelance web developer, who's currently working towards a Bachelor Degree in Computer Science at Binghamton University, NY.</p>
          <a href="#portfolio" data-wow-duration="0.2s" data-wow-delay="5.5s" class="btn btn-primary btn-xl page-scroll wow shake">Check out Portfolio</a>
        </div>
      </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="wow slideInDown">Portfolio</h2>
            <hr class="star-primary">
          </div>
        </div>
        <div class="grid">
          <a href="#foodbites" class="portfolio-link" data-toggle="modal">
            <figure class="effect-apollo">
              <img src="img/portfolio/fbcover.png" alt="Food Bites">
              <figcaption>
              <h2 class="text-shadow"><strong class="ng-binding">Food Bites</strong></h2>
              <p>Click here to learn more!</p>
              </figcaption>     
            </figure>
          </a>
          <a href="#ftt" class="portfolio-link" data-toggle="modal">
            <figure class="effect-apollo">
              <img src="img/portfolio/ftt.png" alt="Fifty Twenty Thirty">
              <figcaption>
              <h2 class="text-shadow"><strong class="ng-binding">Fifty Twenty Thirty</strong></h2>
              <p>Click here to learn more!</p>
              </figcaption>     
            </figure>
          </a>
          <a href="#lsf" class="portfolio-link" data-toggle="modal">
            <figure class="effect-apollo">
              <img src="img/portfolio/lsf.png" alt="Lowe Syndrome Foundation">
              <figcaption>
              <h2 class="text-shadow"><strong class="ng-binding">Lowe Syndrome Foundation</strong></h2>
              <p>Click here to learn more!</p>
              </figcaption>     
            </figure>
          </a>
          <a href="#sealify" class="portfolio-link" data-toggle="modal">
            <figure class="effect-apollo">
              <img src="img/portfolio/sealify.png" alt="Sealify">
              <figcaption>
              <h2 class="text-shadow"><strong class="ng-binding">Sealify</strong></h2>
              <p>Click here to learn more!</p>
              </figcaption>     
            </figure>
          </a>
          <a href="#personalWebsite" class="portfolio-link" data-toggle="modal">
            <figure class="effect-apollo">
              <img src="img/portfolio/personalWeb2.png" alt="Personal Website">
              <figcaption>
              <h2 class="text-shadow"><strong class="ng-binding">My Personal Website</strong></h2>
              <p>Click here to learn more!</p>
              </figcaption>     
            </figure>
          </a>
          <a href="#studiBuddi" class="portfolio-link" data-toggle="modal">
            <figure class="effect-apollo">
              <img src="img/portfolio/StudiBuddi.png" alt="Studi Buddi">
              <figcaption>
              <h2 class="text-shadow"><strong class="ng-binding">Studi Buddi</strong></h2>
              <p>Click here to learn more!</p>
              </figcaption>     
            </figure>
          </a>
          <a href="#bankingSimpatico" class="portfolio-link" data-toggle="modal">
            <figure class="effect-apollo">
              <img src="img/portfolio/bankingSimpatico.jpg" alt="Banking Simpatico">
              <figcaption>
              <h2 class="text-shadow"><strong class="ng-binding">Banking Simpatico</strong></h2>
              <p>Click here to learn more!</p>
              </figcaption>     
            </figure>
          </a>
        </div>
      </div>
    </section>

    <section class="bg-primary" id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
            <div class=row>
              <div class="col-xs-4 col-xs-offset-4 visible-xs wow rollIn">
                <img class="img-responsive img-circle box-shadow" src="img/coverPhoto.JPG"><br> 
              </div>
            </div>
            <div data-wow-duration="3s" class="wow flipInX">
              <h2 class="section-heading">About Me</h2>
            </div>
            <hr class="light">
            <div class=row>
              <div data-wow-delay="0.5s" data-wow-duration="1.3s" class="col-lg-8 col-md-8 col-sm-8 col-xs-12 wow bounceInLeft">
                <p class="text-faded">Programming is more than just a career path for me. It's a passion that comes with much reward. When I'm doing my school work and I need a break, I program. When I notice something on my computer that can be improved, I solve the problem with code. The great part about programming is that	it's never a burden, it's always just a new puzzle	waiting to be looked at from a different perspective.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 hidden-xs wow rollIn">
                <img class="img-responsive img-circle box-shadow" src="img/coverPhoto.JPG"> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2>Contact Me</h2>
            <hr class="star-primary">
            <div class=row>
              <div class=col-lg-6>
                <center>
                  <h3>
                    Phone:
                  </h3>
                  <h4 style="color: #2196f3">(631) 901-3544</h4>
                </center>
              </div>
              <div class=col-lg-6>
                <center>
                  <h3>
                    Email:
                  </h3>
                  <h4 style="color: black"><a href=mailto:award9@binghamton.edu>award9@binghamton.edu</a></h4>
                </center>
              </div>
            </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="text-center bg-dark">
      <div class="footer-above">
        <div class="container">
          <div class="row">
            <div class="footer-col col-md-4">
              <h3>Like what you see?</h3>
              <p>Get in touch! I'm always looking for new opportunities.
            </div>
            <div class="footer-col col-md-4">
              <h3>Around the Web</h3>
              <ul class="list-inline">
                <li data-wow-delay="0.2s" class="wow rollIn">
                  <a href="http://github.com/award28" class="btn-social btn-outline"><i class="fa fa-fw fa-github"></i></a>
                </li>
                <li data-wow-delay="0.4s" class="wow rollIn">
                  <a href="http://linkedin.com/in/wardaustin" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                </li>
                <li data-wow-delay="0.6s" class="wow rollIn">
                  <a href="http://twitter.com/award2828" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                </li>
                <li data-wow-delay="0.8s" class="wow rollIn">
                  <a href="http://facebook.com/austin.ward.169" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                </li>
                <li data-wow-delay="1s" class="wow rollIn">
                  <a href="http://www.instagram.com/award2828" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                </li>
              </ul>
            </div>
            <div class="footer-col col-md-4">
              <h3>Resources for Learning</h3>
              <ul class=list-unstyled>
                <li><a href="http://www.codecademy.com/">CodeCademy</a></li>
                <li><a href="http://dash.generalassemb.ly">General Assembly</a></li>
                <li><a href="http://www.hackerrank.com/domains">Hacker Rank</a></li>
                <li><a href="http://talkpython.fm/">Talk Python To Me</a></li>
                <li><a href="http://nodeschool.io/">Node School</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-below">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              Copyright &copy; Austin Ward 2015 - 2017
            </div>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="studiBuddi" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2 class="ng-binding">Studi Buddi</h2>
                <hr class="star-primary">
                <img src="img/portfolio/StudiBuddi.png" class="img-responsive img-centered" alt="">
                <p class="ng-binding"> Studi Buddi was built at YHack 2015. We made this website due to a problem we felt was prevalent at our school; finding the right person to study with. While studying with your friends is always a great option, most of the time they aren't studying the same class, let alone the same major. Studi Buddi looks to close this studying gap by using geo-location services to bring students studying the same subject together. User generated studi-hubs give off location and the current subject the user is studying. When the user leaves their studying location, they are removed from the list of studi-hubs. This website was built with: Facebook API, google maps API, node.js, mongodb, postman, jquery, javascript, html, and css. </p>
                <ul class="list-inline item-details">
                  <li>Hackathon:
                    <strong class="ng-binding">YHack
                    </strong>
                  </li>
                  <li>Date:
                    <strong class="ng-binding">November 2015
                    </strong>
                  </li>
                  <!-- ngIf: project.repo != 'null' --><li ng-if="project.repo != 'null'" class="ng-scope">
                    <strong><a href="http://github.com/cullo7/studibuddi">Click me to visit this repository</a>
                    </strong>
                  </li><!-- end ngIf: project.repo != 'null' -->
                  <!-- ngIf: project.site != 'null' -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="personalWebsite" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2 class="ng-binding">Personal Website</h2>
                <hr class="star-primary">
                <img src="img/portfolio/personalWeb2.png" class="img-responsive img-centered" alt="">
                <p class="ng-binding"> Originally, I had built this website using the materialize framework. While it did a good job, I felt bootstrap was better suited for the design I wanted. The first time I built this website, I didn't understand how to host HTML files on a running server. Since then, I've taught myself the MEAN stack, and have started to incorporate new technologies in this website. This website was built with: Node.js, ExpressJS, AngularJS, MongoDB, ejs, Bootstrap, JavaScript, Less, HTML, CSS, animate.css, wow.js, and mongoJS. </p>
                <ul class="list-inline item-details">
                  <li>Hackathon:
                    <strong class="ng-binding">None
                    </strong>
                  </li>
                  <li>Date:
                    <strong class="ng-binding">December 2015
                    </strong>
                  </li>
                  <!-- ngIf: project.repo != 'null' --><li ng-if="project.repo != 'null'" class="ng-scope">
                    <strong><a href="http://github.com/award28/personalWebsite">Click me to visit this repository</a>
                    </strong>
                  </li><!-- end ngIf: project.repo != 'null' -->
                  <!-- ngIf: project.site != 'null' --><li ng-if="project.site != 'null'" class="ng-scope">
                    <strong><a href="http://austinward.me">Click me to visit this site</a>
                    </strong>
                  </li><!-- end ngIf: project.site != 'null' -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="sealify" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2 class="ng-binding">Sealify</h2>
                <hr class="star-primary">
                <img src="img/portfolio/sealify.png" class="img-responsive img-centered" alt="">
                <p class="ng-binding"> Sealify.me was created by my team and me at BrickHack2, during the spring 2016 semester. We decided to encrypt email using pgp private and public key encryption. Rather than decrypting on the server like many mail services that are encrypted, our service encrypts the email client-to-client. Our service allows users to relax knowing their data is safe and only seen by them and the receiver. This project was built with Node.js, JavaScript, AngularJS, ejs, Bootstrap , Keybase, Google­-compute­-engine, MongoDB, Redis, and Letsencrypt. We took home “Best use of Encryption” and “Best Reverse Engineering Hack” for this hack. </p>
                <ul class="list-inline item-details">
                  <li>Hackathon:
                    <strong class="ng-binding">BrickHack2
                    </strong>
                  </li>
                  <li>Date:
                    <strong class="ng-binding">March 2016
                    </strong>
                  </li>
                  <!-- ngIf: project.repo != 'null' --><li ng-if="project.repo != 'null'" class="ng-scope">
                    <strong><a href="http://github.com/Derrreks/Sealify">Click me to visit this repository</a>
                    </strong>
                  </li><!-- end ngIf: project.repo != 'null' -->
                  <!-- ngIf: project.site != 'null' -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="lsf" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2 class="ng-binding">Lowe Syndrome Foundation</h2>
                <hr class="star-primary">
                <img src="img/portfolio/lsf.png" class="img-responsive img-centered" alt="">
                <p class="ng-binding"> The Lowe Syndrome Foundation was brought to me through a close friend of HackBU. The site they currently ran had not been updated since 2007, and  I was asked to redesign the front end of the site. A friend of mine, Peter Marin, was kind enough to create a new logo as well. After the front end had been finished, I wanted to change the outdated paypal donation system. I ended up using Stripe, which makes donations extremely simple and built straight into the new site. This project was built with Node.js, JavaScript, AngularJS, ejs, Bootstrap, Stripe, MongoDB, Express. </p>
                <ul class="list-inline item-details">
                  <li>Hackathon:
                    <strong class="ng-binding">None
                    </strong>
                  </li>
                  <li>Date:
                    <strong class="ng-binding">July 2016
                    </strong>
                  </li>
                  <!-- ngIf: project.repo != 'null' -->
                  <!-- ngIf: project.site != 'null' --><li ng-if="project.site != 'null'" class="ng-scope">
                    <strong><a href="http://www.lowesyndromefoundation.org/">Click me to visit this site</a>
                    </strong>
                  </li><!-- end ngIf: project.site != 'null' -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade" id="ftt" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2 class="ng-binding">Fifty Twenty Thirty</h2>
                <hr class="star-primary">
                <img src="img/portfolio/ftt.png" class="img-responsive img-centered" alt="">
                <p class="ng-binding"> Considering many individuals struggle with personal finance, I saw the need to develop a tool which would help solve this common problem. Following Elizabeth Warren's 50-20-30 rule for money management, I applied this technique to automatically split up users paycheck accordingly. This rule states that 50% should go towards short term necessities, 20% towards long term retirement goals, and 30% for entertainment. This web app was built with express.js, angular.js, node.js, morris.js, ejs, and Capital One's API. </p>
                <ul class="list-inline item-details">
                  <li>Hackathon:
                    <strong class="ng-binding">MLH Prime
                    </strong>
                  </li>
                  <li>Date:
                    <strong class="ng-binding">August 2016
                    </strong>
                  </li>
                  <!-- ngIf: project.repo != 'null' --><li ng-if="project.repo != 'null'" class="ng-scope">
                    <strong><a href="http://github.com/award28/fiftyTwentyThirty">Click me to visit this repository</a>
                    </strong>
                  </li><!-- end ngIf: project.repo != 'null' -->
                  <!-- ngIf: project.site != 'null' -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade in" id="bankingSimpatico" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2 class="ng-binding">Banking Simpatico</h2>
                <hr class="star-primary">
                <img src="img/portfolio/bankingSimpatico.jpg" class="img-responsive img-centered" alt="">
                <p class="ng-binding"> Created at BigRed//Hacks 2015, Banking Simpatico is designed to be a simple dashboard for banking. We used the Capital One API (Nessie) To simulate user data, and incorporated the Priceline API to gather information on possible travel destinations.

                Designed to be a user-friendly dashboard, Banking Simpatico allows you to oversee your family's finances, and explore reward opportunities such as cashback and free miles. This website was built with Python using Flask, and took advantage of many resources including: Capital One API, Priceline API, d3.js, postman, google-material-design, heroku, pop.co, jquery, javascript, html, and css. </p>
                <ul class="list-inline item-details">
                  <li>Hackathon:
                    <strong class="ng-binding">BigRed//Hacks 2015
                    </strong>
                  </li>
                  <li>Date:
                    <strong class="ng-binding">September 2015
                    </strong>
                  </li>
                  <!-- ngIf: project.repo != 'null' --><li ng-if="project.repo != 'null'" class="ng-scope">
                    <strong><a href="http://github.com/alanplotko/Banking-Simpatico">Click me to visit this repository</a>
                    </strong>
                  </li><!-- end ngIf: project.repo != 'null' -->
                  <!-- ngIf: project.site != 'null' -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="portfolio-modal modal fade in" id="foodbites" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
          <div class="lr">
            <div class="rl">
            </div>
          </div>
        </div>
        <div class="container">
          <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <div class="modal-body">
                <h2 class="ng-binding">Food Bites</h2>
                <hr class="star-primary">
                <img src="img/portfolio/fblarge.png" class="img-responsive img-centered" alt="">
                <p class="ng-binding"> 
                While attending a class with my friend John Reynolds, we were discussing the hassle one must go through to look up a recipe. We decided there is a better way to handle this, and as such we created Food Bites. This website looks up recipes, and if you decide you like the recipe, you click a button to add the ingredients to a shopping list. This web app was built with Node.js, JavaScript, AngularJS, ejs, Bootstrap, Python, Beautifulsoup, Flask, Requests, and Let’s Encrypt.
                </p>
                <ul class="list-inline item-details">
                  <li>Date:
                    <strong class="ng-binding">December 2016
                    </strong>
                  </li>
                  <!-- ngIf: project.repo != 'null' --><li ng-if="project.repo != 'null'" class="ng-scope">
                    <strong><a href="http://github.com/award28/foodbites">Click me to visit this repository</a>
                    </strong>
                  </li><!-- end ngIf: project.repo != 'null' -->
                  <!-- ngIf: project.site != 'null' -->
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--<!DOCTYPE html>-->
    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0-rc.0/angular.min.js"></script>
    <script src="/js/controller.js"></script> 

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

    <style>
div[name=send] {
  -webkit-animation-duration: 2s;

    </style>
    <script>
$(function() {
  $('button.sendButton').on('click', function() {
    $(this).addClass('animated hinge');
    $('div[name=send]').addClass('animated zoomOutRight').one('webkitAnimationEnd',
        function() {
          $(this).addClass('fadeIn');
          $(this).removeClass('zoomOutRight');
        });
    $(this).addClass('fadeIn');
    $(this).removeClass('hinge');
  });
});
    </script>
		<script>
			// For Demo purposes only (show hover effect on mobile devices)
			[].slice.call( document.querySelectorAll('a[href="#"') ).forEach( function(el) {
				el.addEventListener( 'click', function(ev) { ev.preventDefault(); } );
			} );
		</script>
  </body>

</html>
